#banner {
  background-color: var(--bg_clr);
  padding: 218px 0 128px;
}

.banner__wrapper {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.banner__content {
  width: 582px;
}

.banner__content h1 {
  color: var(--white);
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}

.paragraph--alter {
  color: var(--white);
  width: 562px;
  font-weight: 500px;
  padding: 24px 0 48px;
}

.banner__btn {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.banner__btn a {
  padding: 16px 56px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: var(--white);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  transition: all linear 0.3s;
}

.banner__btn i {
  margin-left: 16px;
}

.banner__btn a:hover {
  color: #1b1c2b;
  background: #fcd980;
}

.banner__btn a:nth-child(2) {
  border: none;
  padding: 0;
}

.banner__btn a:nth-child(2):hover {
  background-color: transparent;
  color: var(--white);
}

.branner__img {
  width: 638px;
}
