footer {
  background-color: var(--bg_clr);
  padding-top: 100px;
}

.footer__wrapper {
  display: flex;
  column-gap: 141px;
}

.footer__logo {
  width: 517px;
}

.footer__logo p {
  font-weight: 500;
  color: var(--white);
  width: 399px;
  padding: 22px 0 86px;
}

.footer__contact {
  padding: 18px 37px;
  background-color: #fcd980;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.footer__contact__item {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.footer__contact__item span {
  color: var(--primary_clr);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  /* 177.778% */
}

.footer__content {
  width: 622px;
}

.footer__content .section__heading {
  color: var(--white);
}
.footer__content .paragraph {
  color: #f4f6fc;
  width: 399px;
  padding: 14px 0 28px;
}

.footer__social {
  display: flex;
  align-items: center;
  column-gap: 27px;
}

.footer__social i {
  color: var(--white);
}

.footer__rights {
  padding: 32px 0;
  background-color: var(--white);
}
.footer__rights .paragraph {
  color: var(--primary_clr);

  font-weight: 500;
}

.footer__rights__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.footer__link {
  color: var(--Dark-blue, #282938);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  transition: all linear 0.3s;
}

.footer__link:hover {
  color: red;
}
.footer__link.active {
  color: Blue;
}
